@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet');

body{
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(to bottom, #e0fbfc, #ffffff);
    background-size: 100% 200vh;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet');